footer.text-dark.py-5
    .container
        .row
            .col-12.col-md-4.mb-4.order-2.order-md-1
                h4.text-center Hệ thống cửa hàng toàn quốc
                ul.ps-3.mb-0
                    li Số 16 Trần Phú, Hà Đông, Hà Nội (Đối diện công an phường)
                    li Tầng 2 VL Plaza, 256 Kim Mã, Ba Đình, Hà Nội
                    li Tầng 3 Vincom Đồng Khởi, Quận 1, TP. Hồ Chí Minh
                    li 252/13/21 phố 6, quận 12, TP. Hồ Chí Minh
                    li Số 17 Ngô Đức Kế, TP. Nha Trang, tỉnh Khánh Hòa
            .col-12.col-md-4.order-1.order-md-.mb-5.d-flex.align-items-center
                .row.w-100
                    .col-3.text-center
                        i.fs-1.fa-brands.fa-facebook
                    .col-3.text-center
                        i.fs-1.fa-brands.fa-instagram
                    .col-3.text-center 
                        i.fs-1.fa-solid.fa-envelope
                    .col-3.text-center
                        i.fs-1.fa-brands.fa-twitter
            .col-12.col-md-4.order-3.d-none.d-md-block
                h4.mb-3.text-center Liên hệ
                .row
                    .col
                        p
                            i.fa-solid.fa-phone.me-1
                            b Hotline 1:
                            |  0288734900
                        p
                            i.fa-solid.fa-phone.me-1
                            b Hotline 3:
                            |  0987763921
                    .col
                        p
                            i.fa-solid.fa-phone.me-1
                            b Hotline 2:
                            |  0344817264
                        p
                            i.fa-solid.fa-phone.me-1
                            b Hotline 4:
                            |  0834217300
                    p
                        u.fw-bold Lưu ý:
                        |  Liên hệ hotline vào nửa đêm hoặc sáng sớm ăn chửi ráng chịu.
        hr.mb-4
        p.text-center.mb-0 © 2022 "Tenjikiz Store". All rights reserved.