@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Open+Sans&family=Encode+Sans+Condensed&family=Nunito&family=Raleway&display=swap');

*::selection{
    background: rgba(27, 138, 229, 0.661);
    color:white;
}

/* Navbar */
#mainNav{
    box-shadow: 0px 0.5px black; 
}

#cartNavbutton{
    transition:0.3s all;
    background:#62f4bc;
    opacity:0.85;
    color:black;
    box-shadow:0 5px black;
    border:1px solid black;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
#cartNavbutton:hover{
    opacity: 1;
    box-shadow:none;
    transform: translateY(5px);
}

#searchBar{
    background:#F0F2F5;
}
/* Fonts */
.fontNunito{
    font-family: 'Nunito', sans-serif;
}

.fontRaleway{
    font-family: 'Raleway', sans-serif;
}

.fontCormorant{
    font-family: 'Cormorant SC', serif;
}

.fontESC{
    font-family: 'Encode Sans Condensed', sans-serif;
}

.fontOP{
    font-family: 'Open Sans', sans-serif;
}

footer{
    background: #dcdcdc;
    box-shadow: 0px 0px 10px grey inset ;
}