.desc ~ .desc ~ .desc > div{
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    outline: 5px solid #f6d365;
}

.desc ~ .desc > div{
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    outline: 5px solid #84fab0;
}

.desc > div {
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border: 4px solid white;
    outline: 5px solid #a1c4fd;
}

.desc:hover > div{
    transform: scale(1.02);
    box-shadow: 0 0 10px black;
    transition: 0.4s all;
    z-index: 100;
}
