#chosenColor {
    box-shadow: 0 0 0 3px white,
        0 0 0 6px #d13636;
}

.color {
    cursor: pointer;
    outline: 1px solid black;
}
.color:hover{
    box-shadow: 0 0 0 3px white,
        0 0 0 6px #d1363680;
    transition:0.2s all;
}

#price {
    background: none;
}

#productName{
    background:#171717;
    color:white;
    box-shadow: 0 4px white,
                0 10px #171717;
}

#commentCard{
    background:#f2f2f2;
}

.comment{
    box-shadow: 0 0 5px rgb(121, 121, 121);
}